@import "colors";
@import "settings";
@import "foundation";
@import "bourbon/bourbon";

.amp {
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
    font-weight: normal;
}

#nav {
    padding-top: 1em;
    padding-bottom: 1em;
}
header {
    dl {
        float: right;
    }
    a {
        font-size: 0.85em;
        margin-left: 0.75em;
        margin-right: 0.75em;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: $color-wet-asphalt;
    }
}

#hero {
    position: relative;
    background: url(../img/cfmlegal_peter_river.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10em;
    padding-bottom: 5em;

    .logo {
        margin-bottom: 4em;
    }

    .masthead {
        margin-top: 2em;
    }

    h1 {
        display: inline-block;
        background: rgba(255,255,255,0.75);
        color: $color-midnight-blue;
        padding: 0.2em 0.3em;
        margin-top: 0;
        font-weight: 300;
        font-size: 2.25em;
    }
    p {
        display: inline-block;
        background: transparentize($color-midnight-blue, 0.25);
        color: white;
        padding: 0.5em 1.2em;
        font-size: 0.8em;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        // margin-top: 0;
    }
}

.aboutus {
    padding-top: 4em;
    padding-bottom: 4em;
    text-align: center;
    p {
        font-size: 1.2em;
        font-weight: 300;
        &.lede {
            font-size: 1.5em;
        }
    }
}

.ourservices {
    background: $color-clouds;
    padding: 2em 0;
    .service {
        text-align: center;
        h4 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.75em;
            letter-spacing: 0.3em;
            margin-bottom: 1.5em;
        }
        img {
            opacity: 0.3;
            max-width: 50%;
            max-height: 10em;
            margin-bottom: 1em;
        }
        li:before {
            content: "· "
        }
        padding: 1em 0;
    }
}

#partners {
    padding: 4em 0;
    background-color: $color-wet-asphalt;
    h2 {
        color: $color-clouds;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 4em;
        letter-spacing: 0.1em;
        text-align: center;
    }

    .partner {
        padding-top: 2em;
        padding-bottom: 2em;
        .headshot {
            text-align: center;
            margin-bottom: 1em;
            img {
                border: 10px solid $color-midnight-blue;
            }
        }
        h3 {
            text-shadow: 0 1px 0 $color-midnight-blue;
            font-weight: light;
            small {
                // color: darken($color-midnight-blue, 4%);
                opacity: 0.5;
                color: $color-peter-river;
                @include transition(opacity 200ms);
                .email {
                    border-bottom: 1px dotted $color-peter-river;
                }
            }
            a {
                color: $color-peter-river;
            }
            a:hover small {
                opacity: 1;
                // color: $color-pomegranate;
            }
        }
        p {
            // color: darken($color-midnight-blue, 13%);
            color: $color-clouds;
            font-size: 1.15em;
            font-weight: 300;
        }
    }
}

#contactdetails {
    padding: 2em 0;
    h2 {
        margin-bottom: 1em;
        color: $color-pomegranate;
    }

    h5 {
        font-weight: bold;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        color: $color-silver;
        text-transform: uppercase;
    }

    .contactgroup {
        margin-bottom: 2em;

        a {
            display: inline-block;
            @include transition(all 200ms);
            color: $color-wet-asphalt;
            font-size: 2em;
            border-bottom: 1px dotted transparentize($color-wet-asphalt, 0.5);
            &:hover {
                color: $color-pomegranate;
                border-bottom-color: $color-pomegranate;
            }

        }
    }

    .vcard {
        border: none;
    }

}

#contactmap {
    height: 30em;
    background-color: $color-clouds;
    img {
        max-width: none;
    }
}


footer {
    @include grid-row();
    padding-top: 3em;
    padding-bottom: 4em;
    color: $color-silver;
    font-size: 0.8em;
}