@import "colors";
@import "settings";
@import "foundation";
@import "bourbon/bourbon";

.amp {
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
    font-weight: normal;
}


header {
    @include grid-row();
}

#hero {
    position: relative;
    background: url(../img/cfmlegal_peter_river.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10em;
    padding-bottom: 5em;

    // background-color: transparentize($color-pomegranate, 0.3);
    // &:after {
    //     content: "";
    //     background: url(../img/cfmlegal_header.jpg) no-repeat center center;
    //     background-size: cover;
    //     background-attachment: fixed;
    //     opacity: 0.5;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     position: absolute;
    //     z-index: -1;
    // }

    .logo {
        margin-bottom: 2em;
    }

    h1 {
        display: inline-block;
        background: rgba(255,255,255,0.75);
        color: $color-midnight-blue;
        padding: 0 0.2em;
        // margin-bottom: 0;
        margin-top: 0.25em;
        font-weight: 300;
    }
    p {
        display: inline-block;
        background: transparentize($color-midnight-blue, 0.25);
        color: white;
        padding: 0 0.5em;
        font-size: 0.8em;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        // margin-top: 0;
    }
}

.aboutus {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    p {
        font-size: 1.2em;
        font-weight: 300;
        &.lede {
            font-size: 1.5em;
        }
    }
}

.ourservices {
    background: $color-clouds;
    padding: 2em 0;
    .service {
        text-align: center;
        h4 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.75em;
            letter-spacing: 0.3em;
            margin-bottom: 1.5em;
        }
        img {
            opacity: 0.3;
            max-width: 50%;
            max-height: 10em;
            margin-bottom: 1em;
        }
        li:before {
            content: "· "
        }
        padding: 1em 0;
    }
}

#partners {
    padding: 2em 0;
    background-color: $color-wet-asphalt;
    h2 {
        color: $color-peter-river;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 3em;
        letter-spacing: 0.1em;
        text-align: center;
    }

    .partner {
        padding-top: 2em;
        padding-bottom: 2em;
        .headshot {
            text-align: center;
            margin-bottom: 1em;
            img {
                border: 10px solid $color-midnight-blue;
            }
        }
        h3 {
            color: $color-clouds;
            text-shadow: 0 1px 0 $color-midnight-blue;
            font-weight: light;
            small {
                color: $color-midnight-blue;
                @include transition(color 250ms ease);
                // -webkit-transition: color 0.25s ease;
                // -moz-transition: color 0.25s ease;
                // -ms-transition: color 0.25s ease;
                // -o-transition: color 0.25s ease;
                // transition: color 0.25s ease;
                padding-left: 1em;
            }
            a {
                color: $color-clouds;
            }
            a:hover small {
                color: $color-pomegranate;
            }
        }
        p {
            color: darken($color-midnight-blue, 10%);
        }
    }
}


footer {
    @include grid-row();
    padding-top: 3em;
    padding-bottom: 4em;
    color: $color-silver;
    font-size: 0.8em;
}